<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanyde.mapper.ActivityPlanMapper">


    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
            insert into activity_plan
                (plan_name, min_age, max_age, activity_category,
                 season, duration, scene, status,cover_url,
                 create_time, update_time, create_user, update_user)
            values
                (#{planName}, #{minAge}, #{maxAge}, #{activityCategory},
                 #{season}, #{duration}, #{scene}, #{status},#{coverUrl},
                 #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="update">
        update activity_plan
        <set>
            <if test="planName!=null and planName!=''">
                plan_name=#{planName},
            </if>
            <if test="minAge!=null">
                min_age=#{minAge},
            </if>
            <if test="maxAge!=null">
                max_age=#{maxAge},
            </if>
            <if test="activityCategory!=null and activityCategory!=''">
                activity_category=#{activityCategory},
            </if>
            <if test="season!=null">
                season=#{season},
            </if>
            <if test="duration!=null">
                duration=#{duration},
            </if>
            <if test="scene!=null">
                scene=#{scene},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="coverUrl!=null">
                cover_url= #{coverUrl},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
            <if test="updateUser!=null">
                update_user=#{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByIds">
        delete from activity_plan
        where id in
        <foreach collection="ids" item="id"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectById" resultType="com.tanyde.entity.ActivityPO.ActivityPlan">
        select id, plan_name, min_age, max_age,
               activity_category, season, duration,
               scene, status,cover_url,
               create_time, update_time, create_user, update_user
        from activity_plan
        where id = #{id}
    </select>

    <select id="pageQuery" resultType="com.tanyde.entity.ActivityPO.ActivityPlan">
        select id, plan_name, min_age, max_age,
               activity_category, season, duration,
               scene, status,cover_url,
               create_time, update_time, create_user, update_user
        from activity_plan
        <where>
            <if test="dto.planName != null and dto.planName !=''">
                and plan_name like concat('%',#{dto.planName},'%')
            </if>
            <if test="dto.activityCategory != null and dto.activityCategory != ''">
                and activity_category = #{dto.activityCategory}
            </if>
            <if test="dto.status != null">
                and status=#{dto.status}
            </if>
            <if test="dto.season !=null">
                and (season &amp; #{dto.season})!=0
            </if>
            <if test="dto.scene !=null">
                and scene=#{dto.scene}
            </if>
            <if test="dto.minAge != null">
                and min_age &gt;= #{dto.minAge}
            </if>
            <if test="dto.maxAge != null">
                and max_age &lt;= #{dto.maxAge}
            </if>
            <if test="dto.minDuration != null">
                and duration &gt;= #{dto.minDuration}
            </if>
            <if test="dto.maxDuration != null">
                and duration &lt;= #{dto.maxDuration}
            </if>
        </where>
        order by create_time asc
    </select>

    <!-- 统计活动方案总数 -->
    <select id="countAll" resultType="int">
        select count(*) from activity_plan
    </select>

    <!-- 按创建时间范围统计活动方案数量 -->
    <select id="countByCreateTimeRange" resultType="int">
        select count(*)
        from activity_plan
        where create_time &gt;= #{startTime}
          and create_time &lt; #{endTime}
    </select>
    <!-- 按季查询活动方案 -->
    <select id="getBySeason" resultType="com.tanyde.entity.ActivityPO.ActivityPlan">
        select id, plan_name, min_age, max_age,
               activity_category, season, duration,
               scene, status,cover_url,
               create_time, update_time, create_user, update_user
        from activity_plan
        where (season &amp; #{season})!=0
    </select>


</mapper>
