<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanyde.mapper.ActivityPlanMapper">


    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
            insert into activity_plan
                (plan_name, age_group, activity_category,
                 season, duration, scene, status,
                 create_time, update_time, create_user, update_user)
            values
                (#{planName}, #{ageGroup}, #{activityCategory},
                 #{season}, #{duration}, #{scene}, #{status},
                 #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <delete id="deleteByIds">
        delete from activity_plan
        where id in
        <foreach collection="ids" item="id"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectById" resultType="com.tanyde.entity.ActivityPlan">
        select id, plan_name, age_group,
               activity_category, season, duration,
               scene, status,
               create_time, update_time, create_user, update_user
        from activity_plan
        where id = #{id}
    </select>

    <select id="pageQuery" resultType="com.tanyde.entity.ActivityPlan">
        select id, plan_name, age_group,
               activity_category, season, duration,
               scene, status,
               create_time, update_time, create_user, update_user
        from activity_plan
        <where>
            <if test="planName != null and planName !=''">
                and plan_name like concat('%',#{planName},'%')
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="season !=null">
                and (season &amp; #{season})!=0
            </if>
        </where>
        order by create_time desc
    </select>


</mapper>
