<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanyde.mapper.RoleMapper">


    <insert id="addRolePermission">
        insert into role_permission
            (role_id, permission_id)
        values
            <foreach collection="permissionIds" item="permissionId" separator=",">
                (#{id},#{permissionId})
            </foreach>
    </insert>


    <delete id="deleteRolePermission">
        delete from role_permission where role_id = #{id}
    </delete>


    <select id="getPermissionIdsByRoleId" resultType="java.lang.Long">
        select permission_id
        from role_permission
        where role_id = #{id}
    </select>
    <select id="pageQuery" resultType="com.tanyde.entity.LoginPO.Role">
        select id, name, code, description, status,
               create_time, update_time, create_user, update_user
        from role
        <where>
            <if test="dto.id != null">
            id = #{dto.id}</if>
            <if test="dto.name != null and dto.name!=''">
        and name like concat('%',#{dto.name},'%')</if>
            <if test="dto.code != null and dto.code!=''">
        and code like concat('%',#{dto.code},'%') </if>
            <if test="dto.description != null and dto.description">
        and description like concat('%',#{dto.description},'%')</if>
            <if test="dto.status != null">
        and status = #{dto.status}</if>
        </where>
        order by create_time asc
    </select>

    <select id="countByCode" resultType="java.lang.Integer">
            select count(*)
            from role
            where code = #{code}
    </select>

    <select id="getRoleCodeByEmployeeId" resultType="java.lang.String">
        select r.code
        from role r
        inner join employee_role er on r.id = er.role_id
        where er.employee_id=#{employeeId}
        and r.status = 1
    </select>

</mapper>
